# Server
PORT=8080

# Banco de dados
SPRING_DATASOURCE_URL=jdbc:postgresql://SEU_HOST_NEON/SEU_BANCO?sslmode=require
SPRING_DATASOURCE_USERNAME=SEU_USUARIO
SPRING_DATASOURCE_PASSWORD=SUA_SENHA

# Profile ativo
SPRING_PROFILES_ACTIVE=local

# JWT (se usar)
JWT_SECRET=uma_chave_bem_secreta_aqui

# Outras chaves que seu projeto usar
# API_KEY_ALGUMSERVICO=...